<!DOCTYPE html>
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/about/">About</a><br />
        <a href="/rango/register/">Register Here</a>
        <a href="/rango/login/">Login</a>
    </body>

</html>
