{% extends 'system/dashboard.html' %}

<script>
{% block jquery %}
var endpoint = '/charts/data/'
var wvalues = []
var wlabels = []
var hlabels = []
var hvalues = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        wlabels = data.wlabels
        wvalues = data.wvalues
        hlabels = data.hlabels
        hvalues = data.hvalues
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart").getContext("2d");
    var ctx2 = document.getElementById("myChart2");
    var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
    gradientStroke.addColorStop(0, "yellow");
    gradientStroke.addColorStop(0.5, "green");
    gradientStroke.addColorStop(1, "blue");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: hlabels,
        datasets: [{
            label: 'Hourly Case Breakdown',
            data: hvalues,
            backgroundColor: gradientStroke,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

    var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: wlabels,
        datasets: [{
            label: 'Weekly Case Aggregate',
            data: wvalues,
            //backgroundColor: [
            //    'rgba(255, 99, 132, 0.2)',
            //    'rgba(54, 162, 235, 0.2)',
            //    'rgba(255, 206, 86, 0.2)',
            //    'rgba(75, 192, 192, 0.2)',
            //    'rgba(153, 102, 255, 0.2)',
            //    'rgba(255, 159, 64, 0.2)'
            //],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            pointBorderColor: gradientStroke,
            pointBackgroundColor: "black",
            borderWidth: 1
        }]
    },
    //options: {
    //    scales: {
    //        yAxes: [{
    //            ticks: {
    //                beginAtZero:true
    //            }
    //        }]
    //    }
    //}
});
}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}
<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "charts:chart-data" %}'>
        <h1></h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>
</div>
{% endblock content %}


