{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h2>Sign up for a free account</h2>
    <div class="container">
      <p>Select below the type of account you want to create</p>
      <a type="button" class="btn btn-primary btn-lg" href="{% url 'users:firstresponder_signup' %}" class="btn btn-lg" role="button"> I'm a first responder </a>
      <a type="button" class="btn btn-primary btn-lg" href="{% url 'users:hospitaladmin_signup' %}" class="btn btn-lg" role="button"> I'm a hospital admin </a>
    </div>
  </div>
{% endblock %}
