{% extends 'system/dashboard.html' %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Admission ID</th>
	<th>Case ID</th>
        <th>Case Creation Date</th>
        <th>Last Update</th>
        <th>Alive</th>
      </tr>
    </thead>
    <tbody>
      {% for case in object_list %}
      <tr>
        <td><a href="{% url 'system:case-update' case.hready_id %}">{{case.hadm_id}}</a></td>
        <td>case id:<a href="{% url 'system:subject-detail' case.subject.patient_id %}">{{case.subject.patient_id}}</a></td>
        <td>{{case.starttime}}</td>
        <td>{{case.updated|default:"N/A"}}</td>
	{% if case.expire_flag == 1 %}
        <td>no</td>
	{% else %}
	<td>yes</td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}
