{% extends 'system/dashboard.html' %}


{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      {% for field_name in field_names %}
      <tr>
	<th>{% get_field_label object field_name %}</th>
      </tr>
      {% endfor %}
    </thead>
    <tbody>
      {% for field_name in field_names %}
      <tr>
	<td> {% get_field_value object field_name %}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}

