{% extends 'system/dashboard.html' %}

{% block content %}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Insurance Type</th>
        <th>Blood Type</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in object_list %}
      <tr>
        <td><a href="{% url 'system:subject-update' patient.patient_id %}" style="color:red">ID: {{patient.patient_id}} </a></td>
        <td>{{patient.gender}}</td>
        {% if not patient.dob %}
          <td>Unknown</td>
        {% else %}
          <td>{{patient.dob|default:"Unknown"}}</td>
        {% endif %}
        <td>{{patient.insurance|default:"Unknown"}}</td>
        <td>{{patient.blood_type|default:"Unknown"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
