<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% block links %}{% endblock %}
  </head>
  <style>
    html,
    body{
      background-color: #009980;
    }
  </style>
  <body>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"> HReady </a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <div>
        <ul class="navbar-nav px-3">
          {% if user.is_authenticated %}
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'users:logout' %}">Sign out</a>
          </li>
          {% else %}
          <li>
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
          <!-- <li>
            <a class="nav-link" href="{% url 'users:signup' %}">C-reate an account</a>
          </li> -->
          {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}

      {% endblock %}

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}">
  </body>
</html>
