{% extends 'base.html' %}

{% load crispy_forms_tags %}
    
    <main role="main" class="container">
      {% block content %}
      {% if not target %}
      <div class="starter-template">
        <p class="lead">Enter event location and required care facility type</p>  
        <form method="POST">
          {% csrf_token %}
          {{form | crispy}}
          <input type="submit" value="OK" class="btn btn-block">
        </form>   
      </div>
      {% endif %}
      <div class="container">
	{% if target %}
	<h1>Closest Care Facility: {{target}}</h1>
	<h1>Estimated distance to Facility: {{distance}}</h1>
	{% endif %}
      </div>
      {% endblock %}
    </main><!-- /.container -->


